html, body {
    height: 100%;
}
body {
	background: linear-gradient(137deg, rgba(183,234,255,1) 0%, rgba(148,223,255,1) 35%, rgba(148,223,255,1) 100%);
	font-family: system-ui;
}
li {
	margin: 0 0 .4em;
}